header,
footer,
h1,
h2,
h3 {
  font-family: 'Staatliches', 'cursive';
  color: #0d2b66;
}
h1 {
  line-height: normal;
}
h4,
h5,
h6 {
  color: #47546b;
  line-height: normal;
}
p,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'sans-serif';
}
.font-staatliches {
  font-family: 'Staatliches', 'cursive' !important;
}
.font-montserrat {
  font-family: 'Montserrat', 'sans-serif' !important;
}
.section-title {
  font-size: 3rem;
}
.intro {
  min-height: 100vh;
  position: relative;
}
.background-gradient {
  background-image: linear-gradient(180deg, #f7f8fc 0%, #e9e9f4 100%);
}
.horizontally-centered {
  float: none;
  margin: auto;
  display: grid;
}
.vertically-centered {
  align-items: center;
  display: grid;
}
.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.438) !important;
}
.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.438) !important;
}
.zero-padding-top {
  padding-top: 0 !important;
}
.margin-bottom {
  margin-bottom: 25px;
}
.shadow {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.underline-animation-dark::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #041a47;
  transition: width 0.3s;
}
.underline-animation-dark:hover::after {
  width: 100%;
  background: #041a47;
}
.underline-animation-light::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.3s;
}
.underline-animation-light:hover::after {
  width: 100%;
  background: white;
}
.zoom-animate {
  transition: transform 0.2s;
}
.zoom-animate:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.hide-animate {
  visibility: hidden;
}
.animation-in {
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 600px) {
  .intro {
    min-height: 60vh;
  }
  h1 {
    line-height: 90%;
  }
}
@media (max-width: 1000px) {
  html,
  body {
    font-size: 13px;
  }
}
